<!-- _includes/chatbot.html -->
<script type="module">
    import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
    Chatbot.init({
        chatflowid: "84362af6-fde0-4758-8f68-6566f1ca6ff4",
        apiHost: "http://34.70.75.7:3000",
    })
</script>
<script async id="asciicast-hG0XEvk90BHcYmDDGw1AKon5R" src="https://asciinema.org/a/hG0XEvk90BHcYmDDGw1AKon5R.js"></script>

<div style="width: 600px; height: 400px;">
    <script async id="asciicast-hG0XEvk90BHcYmDDGw1AKon5R" src="https://asciinema.org/a/hG0XEvk90BHcYmDDGw1AKon5R.js"></script>
  </div>
  